In [64]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import tensorflow
from tensorflow import keras
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

### Churn Model Predicton
- This is a project about how many coustomer bank will loss.
- Here we abserve some parameter(Gender, Tenure, Balance, NumofProducts, HasCECard, IsActiveMember, EstimatedSalary) and create model with the help of Tensorfow

In [65]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [67]:
df.duplicated().sum()

0

In [68]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [69]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [70]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [71]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [72]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [73]:
df = pd.get_dummies(df, columns=['Geography', 'Gender'], drop_first= True)

In [74]:
X = df.drop(columns=['Exited'])
y = df['Exited']

In [75]:
X_train , X_test , y_train , y_test = train_test_split(X, y , test_size= 0.2 , random_state= 42)

In [76]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [77]:
X_test_scaled

array([[-0.57749609, -0.6557859 , -0.69539349, ...,  1.72572313,
        -0.57638802,  0.91324755],
       [-0.29729735,  0.3900109 , -1.38944225, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [-0.52560743,  0.48508334, -0.3483691 , ..., -0.57946723,
         1.73494238, -1.09499335],
       ...,
       [ 0.81311987,  0.77030065,  0.69270405, ..., -0.57946723,
        -0.57638802, -1.09499335],
       [ 0.41876609, -0.94100321, -0.3483691 , ..., -0.57946723,
        -0.57638802,  0.91324755],
       [-0.24540869,  0.00972116, -1.38944225, ...,  1.72572313,
        -0.57638802,  0.91324755]])

In [78]:
from tensorflow.keras import Sequential
model = Sequential()
model.add(Dense(3, activation = 'sigmoid', input_dim =11))
model.add(Dense(1, activation = 'sigmoid'))

In [79]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 3)                 36

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 40
Trainable params: 40
Non-trainable params: 0
_________________________________________________________________

In [80]:
model.compile(loss= 'binary_crossentropy', optimizer= 'Adam')

In [81]:
model.fit(X_train_scaled , y_train, epochs=100)

Epoch 1/100

250/250 [==============================] - 1s 975us/step - loss: 0.7497
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5816
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5108
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4798
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4639
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4538
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4465
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4410
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4369
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4338
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4312
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4291
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4271
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4252
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4233
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4213
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4192
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4170
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4149
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4127
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4107
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4086
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4065
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4046
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4026
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4008
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3989
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3972
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3955
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3938
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3922
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3907
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3891
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3878
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3862
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3849
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3837
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3823
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3812
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3800
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3788
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3779
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3768
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3758
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3749
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3739
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3731
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3723
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3715
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3707
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3700
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3693
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3686
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3680
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3673
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3666
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3661
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3655
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3649
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3644
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3638
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3632
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3627
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3623
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3618
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3613
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3608
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3604
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3600
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3595
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3591
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3587
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3584
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3579
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3576
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3573
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3568
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3565
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3562
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3558
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3556
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3552
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3549
Epoch 84/100
250/250 [==============================] - 0s 998us/step - loss: 0.3546
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3543
Epoch 86/100
250/250 [==============================] - 0s 903us/step - loss: 0.3540
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3537
Epoch 88/100
250/250 [==============================] - 0s 984us/step - loss: 0.3535
Epoch 89/100
250/250 [==============================] - 0s 971us/step - loss: 0.3532
Epoch 90/100
250/250 [==============================] - 0s 973us/step - loss: 0.3530
Epoch 91/100
250/250 [==============================] - 0s 898us/step - loss: 0.3527
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3525
Epoch 93/100
250/250 [==============================] - 0s 959us/step - loss: 0.3523
Epoch 94/100
250/250 [==============================] - 0s 942us/step - loss: 0.3521
Epoch 95/100
250/250 [==============================] - 0s 996us/step - loss: 0.3519
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3516
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3515
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3512
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3511
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3509

In [82]:
model.layers[0].get_weights()

[array([[ 0.02065931,  0.03244542, -0.20147173],
        [-0.44126996,  0.01582959,  3.518297  ],
        [-0.14898771,  0.08821879,  0.05476801],
        [-0.73647743, -0.70025474,  0.15068935],
        [-3.8597593 , -1.947813  ,  0.5909372 ],
        [-0.08519388,  0.10644048,  0.19096428],
        [-1.0348841 ,  0.5909991 ,  0.4534387 ],
        [ 0.1379597 , -0.05633246, -0.17756058],
        [ 0.7720006 ,  0.07256031,  0.16273731],
        [-0.05567679, -0.17517594, -0.05156217],
        [-0.2366915 ,  0.3189844 , -0.11315913]], dtype=float32),
 array([-2.0161645 ,  2.6642513 , -0.55099297], dtype=float32)]

In [83]:
model.layers[0].get_weights()

[array([[ 0.02065931,  0.03244542, -0.20147173],
        [-0.44126996,  0.01582959,  3.518297  ],
        [-0.14898771,  0.08821879,  0.05476801],
        [-0.73647743, -0.70025474,  0.15068935],
        [-3.8597593 , -1.947813  ,  0.5909372 ],
        [-0.08519388,  0.10644048,  0.19096428],
        [-1.0348841 ,  0.5909991 ,  0.4534387 ],
        [ 0.1379597 , -0.05633246, -0.17756058],
        [ 0.7720006 ,  0.07256031,  0.16273731],
        [-0.05567679, -0.17517594, -0.05156217],
        [-0.2366915 ,  0.3189844 , -0.11315913]], dtype=float32),
 array([-2.0161645 ,  2.6642513 , -0.55099297], dtype=float32)]

In [84]:
y_log =model.predict(X_test_scaled)

63/63 [==============================] - 0s 1ms/step

In [85]:
y_pred = np.where (y_log > 0.5, 1,0)

In [86]:
from sklearn.metrics import accuracy_score

In [87]:
accuracy_score(y_test, y_pred)

0.86